
body, ul, li {
    margin: 0;
    padding: 0;
}
.title-text {
  text-align: center;
}

.top-menu {
    list-style-type: none;
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

.top-menu li {
    display: inline;
}

.top-menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #444;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 0 5px;
    transition-property: background-color, color;
    transition-duration: 1s;
}
.top-menu a:hover {
    background-color: #a3a3a3;
    color: #ededed;
    transform: scale(1.05);
    transition-property: background-color, color, transform;
    transition-duration: 1s;
}




.game-button {
    margin: 1px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: red;
}


.button-img {
  border-radius: 25%;
  height:150px;
  width:150px;
}

.button-img:hover {
  border-radius: 15%;
  transition-property: border-radius;
  transition-duration: 0.5s;
}
.scrolling-content::before {
    content: "";
    display: block;
    height: 0;
    width: 100%;
}


.scrolling-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto 0 auto; 
}

.game-button {
    margin: 1%;
    width: calc(16.66% - 1.33%); /* 16.66% allows for 6 buttons per row with some margin - note to self*/
    border-radius: 50%;
}

html {
  background-color: #666;
}

#SearchContainer {
  text-align: center;
}

#Search {
  color: grey;
  border-color: red;
  height: 25px;
  width: 350px;
  border-radius: 0px;
  background-color: #282928;
  transition-property: background-color, border-radius;
  transition-duration: 0.5s;
}


#Search:hover {
  border-radius: 25px;
  color: red;
  background-color: #3d3d3d;
  transition-property: border-radius, background-color;
  transition-duration: 0.5s;



}
