* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #36393f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
}

#chat-container {
    width: 100%;
    max-width: 400px;
    background-color: #36393f;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    height: 100%;
}

#chat-header {
    background-color: #202225;
    color: #ffffff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#chat-messages {
    height: 60%;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

#chat-input {
    background-color: #202225;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#message-input {
    width: 70%;
    height: 30px;
    padding: 8px;
    border: none;
    background-color: #36393f;
    color: #ffffff;
    border-radius: 5px;
    outline: none;
}

#send-button {
    width: 25%;
    height: 30px;
    padding: 8px;
    background-color: #7289da;
    color: #ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #677bc4;
}

.message {
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #7289da;
    color: #ffffff;
}

.message-sender {
    font-weight: bold;
}

.message-text {
    margin-top: 5px;
}
#dm-buttons {
}
.dm-button {
  height:25px;
  background-color: #474747;
  color: #ffffff/*#808080*/;
  border: 1px solid #474760;
  border-radius: 25%;
  font-size: 10px;
}

#add-button {
  width: 25px;
  height: 25px;
  background-color: #474747;
  color: #37a354;
  border: 1px solid #474760;
  border-radius: 25%;
  font-size: 16px;
}


#main {
  width: 55px;
  height: 25px;
  background-color: #474747;
  color: #37a354;
  border: 1px solid #474760;
  border-radius: 25%;
  font-size: 16px;
}

#deleteDm {
  width:25px;
  height: 25px;
  background-color: #474747;
  color: #37a354;
  border: 1px solid #474760;
  border-radius: 25%;
  font-size: 16px;
  float: right;
}
