html {
  background-color: grey;
}

.game-title {
  text-align: center;
  
}

body, ul, li {
    margin: 0;
    padding: 0;
}


.top-menu {
    list-style-type: none;
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

.top-menu li {
    display: inline;
}

.top-menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #444;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 0 5px;
}
.top-menu a:hover {
    background-color: #ccc;
    transform: scale(1.05);
}